.header{
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    margin-bottom: 8%;
}

.headerLeft{
    display: flex;
   align-items: center;
}

.headerLeftLogo{
   height: 48px;
   width: 44px;
   margin-right: 10px;
}

.headerLeftLogoSpan{
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}

.headerRightLinks{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerRightLink{
    color: #e9eaeb;
    opacity: 0.8;
    padding: 10px;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
}